# PostgreSQL settings
POSTGRES_DB=faydakyc
POSTGRES_USER=faydakycuser
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django settings
DJANGO_SECRET_KEY=your-very-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
JWT_SECRET_KEY=changeme

# Third-party services
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
CHAPA_API_KEY=
TELEBIRR_API_KEY=
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
